<% include imports/header.ejs%>

<script>
    var currentlyOpenedPopup;
    $(document).ready(function () {
        $('.dropdown-toggle').dropdown();
    });

    $("span").click(function () {
      alert("clicked on "+  $(this).attr('href'));
    //  document.location.href='/products/' + $(this).attr('href');
    });
    $(function() {
    //----- OPEN
    $('[data-popup-open]').on('click', function(e)  {
        var popup_class = jQuery(this).attr('data-popup-open');
        currentlyOpenedPopup=popup_class;
        $('[data-popup="' + popup_class + '"]').fadeIn(350);
 
        e.preventDefault();
    });
 
    //----- CLOSE
    // ----- ESCAPE BUtton
    $(document).keydown(function(e){
      if(e.which ===27){
        $('[data-popup="' + currentlyOpenedPopup+ '"]').fadeOut(350);
 
        e.preventDefault();
      }
    });
    $('[data-popup-close]').on('click', function(e)  {
        var popup_class = jQuery(this).attr('data-popup-close');
        $('[data-popup="' + popup_class + '"]').fadeOut(350);
 
        e.preventDefault();
    });
});
</script>
<div  style="padding-left: 25% ,padding-right : 25%" align="center">
<nav class="navbar navbar">
    <div  style="margin:20px" class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">TProducts</a>
          </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="/products">Produits
            <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="products/CPU">CPU</a></li>
                <li><a href="/products/GPU">GPU</a></li>
                <li><a href="/products/RAM">RAM</a></li>
                <li><a href="/products/Carte Mere">Carte Mere</a></li>
                <li><a href="/products/Disque Dur">Disque Dur</a></li>
                <li><a href="/products/Alimentation">Alimentation</a></li>
                <li><a href="/products/Boitiers">Boitiers</a></li>
                <li><a href="/products/Ecran">Ecran</a></li>
            </ul>
            </li>
            <%if(!Logged){%><%}
              else if(account.type=="admin"){%><li><a href="/account/admin/products"><span class="glyphicon glyphicon-folder"></span> Produits</a></li><li><a href="/account/admin/accs"><span class="glyphicon glyphicon-user"></span> Comptes</a></li><%}
              else if(account.type=="client"){%><%}
               else if(account.type=="gérant") {%><%}
               else if(account.type=="livreur"){%><li><a href="/delivery"> Commandes</a></li><%}%>

            </ul>
          <ul class="nav navbar-nav navbar-right">
         <%if(!Logged){%><li><a href="/account/admin/products" data-popup-open="popup-1"><span class="glyphicon glyphicon-log-in"></span> Login</a></li><li><a href="/register"><span class="glyphicon glyphicon-plus-sign"></span> Register</a></li><%}
           else if(account.type=="admin"){%><li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li><li><a href="/account/admin/products"><span class="glyphicon glyphicon-cog"></span> Admin</a></li><%}
           else if(account.type=="client"){%><li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li><li><a href="/account/client"><span class="glyphicon glyphicon-shopping-cart"></span><strong> <%=account.username%></strong> | Mes Achats <span class="badge badge-inverse"><%=account.cart.length%></span> <span class="badge" style="background-color:green"><%var total=0;for(var i=0;i<account.cart.length;i++){total+=account.cart[i].price;}%><%=total%></span></a></li><%}
            else if(account.type=="gérant") {%><li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li><li><a href="/account/manager"><span class="glyphicon glyphicon-barcode"></span>  Manage Stock</a></li><%}
            else if(account.type=="livreur"){%><li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li><li><a href="/delivery"><span class="glyphicon glyphicon-bell"></span>  Commandes  <span class="badge"><%=commands.length%></span></a></li><%}%>
        </ul>
    </div>
</nav></div>
</head>

  <body>
<%include carouselview.ejs%>
   
    <div class="container" style="padding-left: 25% ,padding-right : 25%" align="center">
      <br><br>
      <div class="panel panel-succes text-center " style="max-width: 75%">
        <div class="panel-heading theme text-center">
         <%if(prods.length!=0){%> NEW PRODUCTS<%}else {%>NO PRODUCTS TO DISPLAY<%}%> 
        </div>
        <div class="panel-body" style="border:10px">
         <div class="row text-center">
  <% if(prods.length!=0)for (var i = 0; i < prods.length; i++) {%>
<div class="col-sm-3"  id="prodSelect">
  <div class="thumbnail theme" style="margin:0px ;">
                <img  src="<%= prods[i].image%>" style=" max-height:200px ; min-height:200px ;object-fit: cover" >  <% if(prods[i].quantity<=0){%>
                    <span class="label label-warning" style="float:left">INDISPONNIBLE !</span><%}%><%if(Date.now()-prods[i].date<86400000){%><span class="label label-danger" style="float:left">New!</span><%}%>
</img><hr style="margin-bottom:0px;width:inherit">
    <p style="margin-top: 1em;
    margin-bottom: 1em;
    display:inline-block;
    white-space: nowrap;
    overflow:hidden !important;
    text-overflow: ellipsis;width :90%"><strong><%= prods[i].name %></strong></p>
    <h3  style="margin-top:0px"><span class="label label-success"><%= prods[i].price%> <strong>DA<strong></span></h3>

    <div class="form-group">
      <form action="/show/<%=prods[i]._id%>" method="get">
      <button class="btn btn-sm btn-primary btn-block" >Details</button></form>
      <%if(Logged==true && account.type=="client"){
  var exist=false;var index;
  for (var j = 0; j < account.cart.length; j++){
        if(account.cart[j].name==prods[i].name){exist=true;index=j;}
  }   %>
<%if(exist){%>  <form action="/deletebuy/<%=index%>" method="post">
<button class="btn btn-sm btn-warning btn-block">Suprimer du panier!</button><%}
else {%>  <form action="/buy/<%=prods[i]._id%>" method="post">
  <button class="btn btn-sm btn-success btn-block <%if(prods[i].quantity<=0){%>disabled<%}%>"><%if(prods[i].quantity<=0){%>Can't <%}%>Buy !</button><%}%></form>
   <%}%>

    </div>

 </div>
</div>
<%} %>

        </div>
          </div>
        </div>
        
        <div class="jumbotron jumbotron-fluid "  style="margin-bottom:0px;">
<div class="container">
  <div class="row">
    <div class="col-sm-8" style="padding-top:3%">
    <h1 class="display-3"><strong>Livraison a Domicile</strong></h1>
    <h3 >Beneficier de notre service de livraison a domicile qui couvre les different coin du pays mentionné ci-dessous dans la map</h3>
    <h2 >Inscrivez ! .. Commandez ! <strong> ..<img src="https://image.flaticon.com/icons/png/128/91/91834.png" height="50" width="50" >.. LIVRÉÉ !</strong></h2>
  </div><div class="col-sm-4">
        <img src="http://carpng.com/wp-content/uploads/thumb/delivery-truck-icon-7319-0.png" style="background-color:transparent" >
        <form action="/register" method="get">
        <button class="btn btn-sm btn-success btn-block">INSCRIVEZ !</button></form>
    </div>
  </div></div></div>

  <div class="jumbotron jumbotron-fluid" style="padding:0px">
  <div class="container">

  <div class="col-sm-12 text-center" >
      <img src="map.png" width="100%" style="margin:0px, float:left">
    </div>
  </div>
</div>

    <div class="container text-center">
      <h1>Categories</h1><hr>
      <div class="row no-gutters">
        <a href="/products/CPU"><div class="col-sm-3 text-center" id="selectcat">
          <span class="glyphicon glyphicon-scale"></span>
          <h3>CPU</h3>
        </div></a>
          <a href="/products/GPU"><div class="col-sm-3 text-center" id="selectcat">
          <span class="glyphicon glyphicon-eye-open"></span>
          <h3>GPU</h3>
        </div></a>
          <a href="/products/Carte Mere"><div class="col-sm-3 text-center" id="selectcat">
          <span class="glyphicon glyphicon-cog"></span>
          <h3>Carte Mere</h3>
        </div></a>
          <a href="/products/RAM"><div class="col-sm-3 text-center" id="selectcat">
          <span class="glyphicon glyphicon-import"></span>
          <h3>RAM</h3>
        </div></a>
      </div>
      <div class="row">
          <a href="/products/Disque Dur"><div class="col-sm-3 text-center" id="selectcat">
          <span class="glyphicon glyphicon-hdd"></span>
          <h3>Disque Dur</h3>
        </div></a>
          <a href="/products/Ecran"><div class="col-sm-3 text-center" id="selectcat">
          <span class="glyphicon glyphicon-blackboard" ></span>
          <h3>Ecran</h3>
        </div></a>
          <a href="/products/Alimentation"><div class="col-sm-3 text-center" id="selectcat">
          <span class="glyphicon glyphicon-flash"></span>
          <h3>Alimentation</h3>
        </div></a>
          <a href="/products/Boitiers"><div class="col-sm-3 text-center" id="selectcat">
          <span class="glyphicon glyphicon-inbox"></span>
          <h3>Boitiers</h3>
        </div></a>
      </div>
    </div>
  </div>
<div class="popup" data-popup="popup-1">
    <div class="popup-inner">
   <h1>Login to Your Account</h1><br>
				  <form action="/login" method="post">
					<input type="text" name="username" placeholder="Username">
					<input type="password" name="password" placeholder="Password">
					<input type="submit" name="login" class="login loginmodal-submit" value="Login">
				  </form>
					
				  <div class="login-help">
					<a href="#">Register</a> - <a href="#">Forgot Password</a>
				  </div>
        <p><a data-popup-close="popup-1" href="#">Close</a></p>
        <a class="popup-close" data-popup-close="popup-1" href="#">X</a>
    </div>
</div>
<style>

.popup {
    width:100%;
    height:100%;
    display:none;
    position:fixed;
    z-index:1000;
    top:0px;
    left:0px;
    background:rgba(0,0,0,0.75);
}
 
/* Inner */
.popup-inner {
    max-width:700px;
    width:90%;
    padding:40px;
    position:absolute;
    top:50%;
    left:50%;
    -webkit-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%);
    box-shadow:0px 2px 6px rgba(0,0,0,1);
    border-radius:3px;
    background:#fff;
}
 
/* Close Button */
.popup-close {
    width:30px;
    height:30px;
    padding-top:4px;
    display:inline-block;
    position:absolute;
    top:10px;
    right:10px;
    transition:ease 0.25s all;
    -webkit-transform:translate(50%, -50%);
    transform:translate(50%, -50%);
    border-radius:1000px;
}</style>
<% include imports/footer.ejs %>
